.head-section {
    width: 100%;
}
.head-section h1 {
    border-bottom: 1px solid;
    padding-bottom: 20px;
    color: crimson;
}

.search-form {
    width: 30%;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid aliceblue;
    background: aliceblue;
    border-radius: 5px;
}
.search-form input {
    height: 35px;
    width: 67%;
    margin-right: 15px;
}
.search-form button {
    width: 26%;
    height: 40px;
    background: crimson;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.movie-result {
    width: 90%;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie-block {
    width: 280px;
    margin: 15px;
    flex-direction: column;
    border: 1px solid #ffe6c8;
}
.movie-block img {
    height: 350px;
    object-fit: cover;
}
.movie-title {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe6c8;
    margin-top: -4px;
}
.movie-title h5 {
    margin: 0;
    padding: 0 8px;
}
.err {
    font-size: 14px;
    color: red;
    text-align: left;
    margin-top: 5px;
}